# Node / Next.js
node_modules/
.next/
out/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env/локальные
.env
.env.*
!.env.example
*.local

# IDE
.vscode/
.idea/
.DS_Store

# Vercel/Netlify
.vercel/
.netlify/
.vercel
