.toggle {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--card);
  cursor: pointer;
  transition: background var(--transition), transform var(--transition),
    box-shadow var(--transition);

  font-size: 18px;
}

.toggle:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px var(--shadow);
}

.toggle:active {
  transform: scale(0.95);
}
