.toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  border: 1px solid var(--accent);
  background: var(--card);
  cursor: pointer;
  transition: background var(--transition), transform var(--transition),
    box-shadow var(--transition);

  font-size: 18px;
}


@media (max-width: 860px) {
  .toggle {
    border: var(--border);
    width: 42px;
    height: 42px;
  }
}