/* Обёртка карточки (через TiltCard) */
.ctaWrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.ctaText {
  color: var(--muted);
}

@media (max-width: 860px) {
  .ctaWrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 20px;
  }
}
