.typing {
  position: relative;
  white-space: pre-wrap; /* переносы как обычно */
}

/* Курсор */
.cursor {
  display: none;
  width: 2px;
  height: 10px;
  margin-left: 2px;
  background: var(--accent-3);
  vertical-align: bottom;
  /* animation: blink 1.3s step-end infinite; */
  transform: translateY(-5px);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
